---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h2>Downloads</h2>
  <p>
    These files are unmodified and retain the original license available on each publisher's website. All rights are retained by their respective owners.
  </p>
  <p>
  For removal or updates, submit an <a href="https://github.com/crypto-mirror/cryptomirror/issues">issue</a> or <a href="https://github.com/crypto-mirror/cryptomirror/pulls">pull request</a>.
  </p>
  </p>
    All software is signed by their respective publishers. You must verify the signature using GPG or equivalent.
  </p>
  <ul>
		{% for f in site.static_files %}
      {% if f.path contains 'files' %}
      <li><a href="{{ site.baseurl }}{{ f.path }}">{{ f.name }}</a></li>
      {% endif %}
		{% endfor %}
  </ul>
</div>
